header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f11869;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
  }
  #requestumLogo{
    display: flex;
    @media screen and (max-width: 600px) {
      margin-left: 25px;
    }
    svg{
      width: 15%;
      height: 15%;
      @media screen and (max-width: 600px) {
        width: 25%;
        height: 25%;
      }
    }
  }
  #requestumText{
    font-size: 42px;
    line-height: 26px;
  }
  #logoSubtitle{
    line-height: 40px;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  #appName{
    font-size: 20px;
  }
  p{
    margin: 0px;
  }
}
#separator{
  display: block; 
  height: 10px;
  border: 0;
  border-top: 1px solid #f11869;
  margin: 1em 0; 
  padding: 0;
}
